# To separate your traces from other application
LANGSMITH_PROJECT=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=


# Add API keys for connecting to LLM providers, data sources, and other integrations here
OPENAI_BASE_URL=
OPENAI_API_KEY=

OLLAMA_BASE_URL=
RERANKER_ENDPOINT=

EMBEDDING_MODEL=
RERANKER_MODEL=

FAISS_INDEX_DIR=
QDRANT_INDEX_DIR=
BM25_INDEX_DIR=
